<md-sidenav-layout [class.m2app-dark]="isDarkTheme">


  <md-toolbar color="primary">
    <span class="app-toolbar-menu">Restauranto</span>
    <button md-button [md-menu-trigger-for]="menu">MENU</button>
    <button md-button [routerLink]="['/reservation']">Reservation</button>
    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE Dark theme</button>

  </md-toolbar>


  <md-menu #menu="mdMenu">
    <button md-menu-item [routerLink]="['/pizzas']">Pizza</button>
    <button md-menu-item>Ciorbe</button>
    <button md-menu-item>Deserturi</button>
  </md-menu>

  <div class="app-content">
    <div>
      <h2>{{ 'HOME.TITLE' | translate }}</h2>
      <label>
        {{ 'HOME.SELECT' | translate }}
        <select #langSelect (change)="translate.use(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">
            {{ lang }}
          </option>
        </select>
      </label>
    </div>
    <md-card>
      <md-card-title>titut</md-card-title>

      <p>Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet mollis tortor
        congue. Sed quis mauris sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada in, tristique
        at erat lorem ipsum dolor sit amet lorem ipsum sed consequat magna tempus veroeros lorem sed tempus aliquam
        lorem
        ipsum veroeros consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id justo mattis pharetra.
        Fusce suscipit ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris sit amet magna accumsan
        tristique. Curabitur leo nibh, rutrum eu malesuada in, tristique at erat.
      </p>
      <p>Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet mollis tortor
        congue. Sed quis mauris sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada in, tristique
        at erat lorem ipsum dolor sit amet lorem ipsum sed consequat magna tempus veroeros lorem sed tempus aliquam
        lorem
        ipsum veroeros consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id justo mattis pharetra.
        Fusce suscipit ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris sit amet magna accumsan
        tristique. Curabitur leo nibh, rutrum eu malesuada in, tristique at erat.
      </p>

    </md-card>

    <ngb-carousel>
      <template ngbSlide>
        <img src="assets/images/pepperoni.png" alt="Random first slide">
        <div class="carousel-caption">
          <h3>10 seconds between slides...</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </template>
      <template ngbSlide>
        <img src="assets/images/pepperoni.png" alt="Random second slide">
        <div class="carousel-caption">
          <h3>No keyboard...</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </template>
      <template ngbSlide>
        <img src="assets/images/pepperoni.png" alt="Random third slide">
        <div class="carousel-caption">
          <h3>And no wrap after last slide.</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </template>
    </ngb-carousel>


  </div>

</md-sidenav-layout>

<span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>
